@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.js-demo-section {
  font-size: 24px;
  font-weight: bold;
}

.titEffect {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  display: inline-block;
  position: relative;
  opacity: 0;
}

.titEffect__detail {
  display: inline-block;
  opacity: 0;
}

.titEffect__clone,.titEffect__cover {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.titEffect__cover {
  opacity: 0.25;
}

.titEffect-visible{
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.titEffect-animated .titEffect__detail {
  opacity: 1;
}
