* {
  box-sizing:border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

// dummy
.dummy-container {
  height: 1000px;
  @media (max-width: 768px) {
    height: 100px;
  }
}

.item-wrapper {
  max-width: 960px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .item {
    width: calc((100% / 4) - 4px);
    height: auto;
    margin-bottom: 4px;
    transform: translateY(5rem);
    opacity: 0;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-property: transform, opacity;

    &:nth-last-of-type(-n + 5) {
      margin-bottom: 0;
    }

    a {
      display: block;
      text-decoration: none;

      &:hover {
        .item__img {
          .item__imgInner {
            img {
              transform: scale(1.1);
            }
          }
        }
      }

      .item__img {
        overflow: hidden;
        position: relative;
  
        &:before {
          position: absolute;
          z-index: 1;
          background: #15181a;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          display: block;
          transition: transform .8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
          transform: translateY(0)
        }

        .item__imgInner {
          position: relative;
          z-index: 0;
          padding-bottom: 81.1818%;
          transform: scale(1.15);
          transition: transform .8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;

          &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 8rem;
            background: linear-gradient(0deg, rgba(0,0,0,0.44), rgba(0,0,0,0))
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(1);
            transition: transform .4s cubic-bezier(0.215, 0.61, 0.355, 1);
          }

          .ttl {
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 700;
            color: #ffffff;
            padding: 0 1.5rem 1.5rem;
            line-height: 1;
          }
        }
      }
    }

    // is-visible
    &.is-visible {
      transform: translateY(0);
      opacity: 1;

      .item__txt {
        opacity:1
      }

      .item__img {
        &:before {
          transform: translateY(-101%);
        }

        .item__imgInner {
          transform: scale(1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .item-wrapper {
    flex-flow: row wrap;

    .item {
      width: calc(50% - 2px);
      
      &:nth-last-of-type(-n + 5) {
        margin-bottom: 4px;
      }

      &:nth-last-of-type(-n + 2) {
        margin-bottom: 0;
      }

      .item__img {
        &:before {
          transition: transform .8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
        }

        .item__imgInner {
          transition: transform .8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;

          .ttl {
            font-size:1.3rem;
            padding:0 1rem 1rem
          }
        }
      }
      
    }
  }
}